*
	margin 0
	padding 0

body
	background-color #22272E

.container
	margin-left auto
	margin-right auto
	padding-top 48px
	max-width 696px
	font-family Arial, "Helvetica Neue", Helvetica, sans-serif

.products
	display flex
	&__item
		padding-left 16px
		padding-right 16px
		width 100%

.products-item
	height 100%
	display flex
	flex-direction column
	&__picture
		margin-bottom 16px
		.vue-mzc-product-picture__dot
			background-color #434c55
			&--active
				background-color #c5d4e3
	&__info
		margin-top auto
		color #c5d4e3
	&__title,
	&__price
		text-align center
	&__title
		margin-bottom 8px
		font-size 14px
		line-height 22px
	&__price
		font-weight 700

@media screen and (max-width: 480px)
	.products
		flex-direction column
		padding-left 16px
		padding-right 16px
		&__item
			margin-bottom 32px
			padding-left 0
			padding-right 0
			&:last-child
				margin-bottom 0
	
	.products-item
		flex-direction row
		&__picture
			margin-right 16px
			margin-bottom 0
			width 33.33%
		&__info
			margin-bottom auto
		&__title,
		&__price
			text-align left
		&__title
			margin-top 0